In [4]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
df = pd.read_csv('../data/merged_oil_wells.csv', low_memory=False)
df.head()

,API_WellNo,Cnty,Hole_x,SideTrck_x,Completion_x,Well_Name,Company_name,Operator_number,Well_Type,Map_Symbol,Well_Status,Date_Status,Date_Permit_Application,Permit_Issued,Date_Spudded,Date_Total_Depth,Date_Well_Completed,Date_well_plugged,Date_well_confidential,confid,town_x,quad,quadsec,Producing_name,Producing_formation,Financial_security,Slant,County_x,Region,State_lease,Proposed_depth,Surface_location,Surface_Longitude,Surface_latitude,Bottom_hole_location,Bottom_hole_longitude,Bottom_hole_latitude,True_vertical_depth,Measured_depth,Kickoff,DrilledDepth,Elevation,Original_well_type,Permit_Fee,Objective_formation,Depth_Fee,Spacing,Spacing_Acres,Integration,Dt_Hearing,Dt_Mod,LINK,Location_Verified,GeneralWellType,GeneralWellStatus,County_y,CoName,Hole_y,SideTrck_y,Completion_y,Well_Typ,Field,Wl_Status,Well_Nm,town_y,Prod Form,MonthProd,GasProd,WaterProd,OilProd,Year
0,31001010720000,1,1072,0,0,Finch 1,Corona Typewriter,9372,NL,O,UN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Knox,Durham,C,Not Applicable,Not Applicable,False,Vertical,Albany,4.0,NaN,NaN,SURF,-74.12681,42.49029,BH,-74.12681,42.49029,2200.0,2200.0,0.0,2200.0,1155.0,OD,0.0,Not Applicable,0.0,NaN,NaN,NaN,NaN,2022-12-21 13:15:44.957000000,http://extapps.dec.ny.gov/cfmx/extapps/GasOil/...,NO,Other Well,Unplugged Well,Albany,Corona Typewriter,1072.0,0.0,0.0,NL,Not Applicable,UN,Finch 1,Knox,Not Applicable,NaN,NaN,NaN,NaN,2000.0
1,31001010730000,1,1073,0,0,Hilton James 1,Belmont Quadrangle Drilling,9034,NL,O,UN,NaN,NaN,NaN,1907-01-01 00:00:00,1907-01-01 00:00:00,NaN,NaN,NaN,Pre-1989 Well (N/A),New Scotland,Voorheesville,I,Not Applicable,Not Applicable,False,Vertical,Albany,4.0,NaN,0.0,SURF,-73.90768,42.64480,BH,-73.90768,42.64480,0.0,0.0,0.0,0.0,423.0,NL,0.0,Not Applicable,0.0,Exempt from Title 5; variance needed from 6 NY...,NaN,NaN,NaN,2022-12-16 09:57:23.407000000,http://extapps.dec.ny.gov/cfmx/extapps/GasOil/...,NO,Other Well,Unplugged Well,Albany,Belmont Quadrangle Drilling,1073.0,0.0,0.0,NL,Not Applicable,UN,Hilton James 1,New Scotland,Not Applicable,NaN,NaN,NaN,NaN,2000.0
2,31001210070000,1,21007,0,0,1,Turf Western Ave. Inc.,1903,TH,OP,PA,2016-04-06 00:00:00,1998-04-24 00:00:00,1998-07-16 00:00:00,1994-09-07 00:00:00,1994-09-13 00:00:00,1994-10-27 00:00:00,2016-04-06 00:00:00,NaN,Released,Guilderland,Albany,D,Not Applicable,NA - Geoexchange,True,Vertical,Albany,4.0,NaN,1500.0,SURF,-73.83588,42.67931,BH,-73.83588,42.67931,1500.0,1500.0,0.0,1500.0,203.0,TH,475.0,NA - Geoexchange,375.0,Exempt - not an oil or gas well,NaN,NaN,NaN,2022-12-16 09:57:23.407000000,http://extapps.dec.ny.gov/cfmx/extapps/GasOil/...,NO,Geothermal Well,Plugged Well,Albany,"Turf Western Ave., Inc.",21007.0,0.0,0.0,TH,Not Applicable,PA,1,Guilderland,NA - Geoexchange,NaN,NaN,NaN,NaN,2000.0
3,31001210080000,1,21008,0,0,2,Turf Western Ave. Inc.,1903,TH,OP,PA,2016-04-06 00:00:00,1998-04-04 00:00:00,1998-07-16 00:00:00,1994-09-14 00:00:00,1994-09-21 00:00:00,1994-11-01 00:00:00,2016-04-06 00:00:00,NaN,Released,Guilderland,Albany,D,Not Applicable,Not Applicable,True,Vertical,Albany,4.0,NaN,1500.0,SURF,-73.83599,42.67920,BH,-73.83599,42.67920,1500.0,1500.0,0.0,1500.0,204.0,TH,475.0,NA - Geoexchange,375.0,Exempt - not an oil or gas well,NaN,NaN,NaN,2022-12-16 09:57:23.407000000,http://extapps.dec.ny.gov/cfmx/extapps/GasOil/...,NO,Geothermal Well,Plugged Well,Albany,"Turf Western Ave., Inc.",21008.0,0.0,0.0,TH,Not Applicable,PA,2,Guilderland,Not Applicable,NaN,NaN,NaN,NaN,2000.0
4,31001210090000,1,21009,0,0,3,Turf Western Ave. Inc.,1903,TH,OP,PA,2016-05-06 00:00:00,1998-04-24 00:00:00,1998-07-16 00:00:00,1994-09-21 00:00:00,1994-09-28 00:00:00,1994-11-04 00:00:00,2016-05-06 00:00:00,NaN,Released,Guilderland,Albany,D,Not Applicable,Not Applicable,True,Vertical,Albany,4.0,NaN,1500.0,SURF,-73.83625,42.67925,BH,-73.83625,42.67925,1420.0,1420.0,0.0,1420.0,204.0,TH,475.0,NA - Geoexchange,375.0,Exempt - not an oil or gas well,NaN,NaN,NaN,2022-12-16 09:57:23.407000000,http://extapps.dec.ny.gov/cfmx/extapps/GasOil/...,NO,Geothermal Well,Plugged Well,Albany,"Turf Western Ave., Inc.",21009.0,0.0,0.0,TH,Not Applicable,PA,3,Guilderland,Not Applicable,NaN,NaN,NaN,NaN,2000.0

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350816 entries, 0 to 350815
Data columns (total 71 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   API_WellNo               350816 non-null  int64
 1   Cnty                     350816 non-null  int64
 2   Hole_x                   350816 non-null  int64
 3   SideTrck_x               350816 non-null  int64
 4   Completion_x             350816 non-null  int64
 5   Well_Name                350776 non-null  object
 6   Company_name             350809 non-null  object
 7   Operator_number          350816 non-null  int64
 8   Well_Type                350816 non-null  object
 9   Map_Symbol               350815 non-null  object
 10  Well_Status              350816 non-null  object
 11  Date_Status              86366 non-null   object
 12  Date_Permit_Application  243196 non-null  object
 13  Permit_Issued            248757 non-null  object
 14  Date_Spudded             256651 non-null  object
 15  Date_Total_Depth         245945 non-null  object
 16  Date_Well_Completed      281007 non-null  object
 17  Date_well_plugged        44089 non-null   object
 18  Date_well_confidential   102324 non-null  object
 19  confid                   350602 non-null  object
 20  town_x                   350452 non-null  object
 21  quad                     349525 non-null  object
 22  quadsec                  349442 non-null  object
 23  Producing_name           350799 non-null  object
 24  Producing_formation      350810 non-null  object
 25  Financial_security       350810 non-null  object
 26  Slant                    350651 non-null  object
 27  County_x                 350452 non-null  object
 28  Region                   350810 non-null  float64
 29  State_lease              6093 non-null    object
 30  Proposed_depth           343663 non-null  float64
 31  Surface_location         350810 non-null  object
 32  Surface_Longitude        350496 non-null  float64
 33  Surface_latitude         350496 non-null  float64
 34  Bottom_hole_location     350810 non-null  object
 35  Bottom_hole_longitude    350367 non-null  float64
 36  Bottom_hole_latitude     350367 non-null  float64
 37  True_vertical_depth      350810 non-null  float64
 38  Measured_depth           350810 non-null  float64
 39  Kickoff                  350810 non-null  float64
 40  DrilledDepth             350810 non-null  float64
 41  Elevation                258171 non-null  float64
 42  Original_well_type       350810 non-null  object
 43  Permit_Fee               350401 non-null  float64
 44  Objective_formation      350810 non-null  object
 45  Depth_Fee                350810 non-null  float64
 46  Spacing                  43488 non-null   object
 47  Spacing_Acres            9101 non-null    float64
 48  Integration              40687 non-null   object
 49  Dt_Hearing               2551 non-null    object
 50  Dt_Mod                   350816 non-null  object
 51  LINK                     350816 non-null  object
 52  Location_Verified        350810 non-null  object
 53  GeneralWellType          350816 non-null  object
 54  GeneralWellStatus        350816 non-null  object
 55  County_y                 324421 non-null  object
 56  CoName                   324420 non-null  object
 57  Hole_y                   324421 non-null  float64
 58  SideTrck_y               324421 non-null  float64
 59  Completion_y             324421 non-null  float64
 60  Well_Typ                 324421 non-null  object
 61  Field                    324411 non-null  object
 62  Wl_Status                324421 non-null  object
 63  Well_Nm                  324385 non-null  object
 64  town_y                   324285 non-null  object
 65  Prod Form                324421 non-null  object
 66  MonthProd                318225 non-null  float64
 67  GasProd                  290612 non-null  float64
 68  WaterProd                300871 non-null  float64
 69  OilProd                  276202 non-null  float64
 70  Year                     324421 non-null  float64
dtypes: float64(22), int64(6), object(43)
memory usage: 190.0+ MB

In [24]:
# Identify where the values in two columns differ
col1 = 'Surface_Longitude'
col2 = 'Bottom_hole_longitude'

# Create a boolean mask where the values differ
difference_mask = df[col1] != df[col2]

# Get the indices and the corresponding values where they differ
differences = df[difference_mask][[col1, col2]]

# Print the differences
print(f"Differences between {col1} and {col2}:")
print(differences)

Differences between Surface_Longitude and Bottom_hole_longitude:
        Surface_Longitude  Bottom_hole_longitude
466                   NaN                    NaN
497                   NaN                    NaN
498                   NaN                    NaN
504                   NaN                    NaN
556                   NaN                    NaN
...                   ...                    ...
350793         -77.063953             -77.059036
350794         -77.063953             -77.059036
350795         -77.072735             -77.071473
350796         -77.085636             -77.085327
350814         -77.161940             -77.162238

[7161 rows x 2 columns]