# Data Preparation

This notebook details the initial steps of preparing the `NYS Oil & Gas Wells` dataset for analysis. It includes data loading, understanding, and cleaning processes to ensure the data is in a format for further analysis. Key tasks involve handling missing values, encoding categorical variables, normalizing numerical features, and addressing any data quality issues.

By the end of this notebook, the dataset will be transformed into a refined version ready for exploratory data anlanlysis and model development.

### Loading Tools and Data

In [1]:
import numpy as np
import pandas as pd
import os, zipfile, glob
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:,.2f}'.format)

In [2]:
file_paths = glob.glob("../data/oilgas_prod/Prod*.csv")
data_frames = []
for file_path in file_paths:
    df = pd.read_csv(file_path)
    data_frames.append(df)

prod_data = pd.concat(data_frames, ignore_index=True)
well_data = pd.read_csv('../data/oilgas_wells.csv', low_memory=False)

df_oilgas = pd.merge(well_data, prod_data, on='API_WellNo', how='outer')
df_oilgas.to_csv('../data/merged_oilgas_prodwells.csv', index=False)

with zipfile.ZipFile('../data/merged_oilgas_prodwells.csv.zip', 'w', zipfile.ZIP_DEFLATED) as zipf:
    zipf.write('../data/merged_oilgas_prodwells.csv', arcname='merged_oilgas_prodwells.csv')
df = df_oilgas.copy()

## Understanding the Data
- Dataframe `shape`
- `info`
- `head` and `tail`
- `describe`
- `unique` values

In [3]:
df.shape

(350816, 71)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350816 entries, 0 to 350815
Data columns (total 71 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   API_WellNo               350816 non-null  int64
 1   Cnty                     350816 non-null  int64
 2   Hole_x                   350816 non-null  int64
 3   SideTrck_x               350816 non-null  int64
 4   Completion_x             350816 non-null  int64
 5   Well_Name                350776 non-null  object
 6   Company_name             350809 non-null  object
 7   Operator_number          350816 non-null  int64
 8   Well_Type                350816 non-null  object
 9   Map_Symbol               350815 non-null  object
 10  Well_Status              350816 non-null  object
 11  Date_Status              86366 non-null   object
 12  Date_Permit_Application  243196 non-null  object
 13  Permit_Issued            248757 non-null  object
 14  Date_Spudded             256651 non-null  object
 15  Date_Total_Depth         245945 non-null  object
 16  Date_Well_Completed      281007 non-null  object
 17  Date_well_plugged        44089 non-null   object
 18  Date_well_confidential   102324 non-null  object
 19  confid                   350602 non-null  object
 20  town_x                   350452 non-null  object
 21  quad                     349525 non-null  object
 22  quadsec                  349442 non-null  object
 23  Producing_name           350799 non-null  object
 24  Producing_formation      350810 non-null  object
 25  Financial_security       350810 non-null  object
 26  Slant                    350651 non-null  object
 27  County_x                 350452 non-null  object
 28  Region                   350810 non-null  float64
 29  State_lease              6093 non-null    object
 30  Proposed_depth           343663 non-null  float64
 31  Surface_location         350810 non-null  object
 32  Surface_Longitude        350496 non-null  float64
 33  Surface_latitude         350496 non-null  float64
 34  Bottom_hole_location     350810 non-null  object
 35  Bottom_hole_longitude    350367 non-null  float64
 36  Bottom_hole_latitude     350367 non-null  float64
 37  True_vertical_depth      350810 non-null  float64
 38  Measured_depth           350810 non-null  float64
 39  Kickoff                  350810 non-null  float64
 40  DrilledDepth             350810 non-null  float64
 41  Elevation                258171 non-null  float64
 42  Original_well_type       350810 non-null  object
 43  Permit_Fee               350401 non-null  float64
 44  Objective_formation      350810 non-null  object
 45  Depth_Fee                350810 non-null  float64
 46  Spacing                  43488 non-null   object
 47  Spacing_Acres            9101 non-null    float64
 48  Integration              40687 non-null   object
 49  Dt_Hearing               2551 non-null    object
 50  Dt_Mod                   350816 non-null  object
 51  LINK                     350816 non-null  object
 52  Location_Verified        350810 non-null  object
 53  GeneralWellType          350816 non-null  object
 54  GeneralWellStatus        350816 non-null  object
 55  County_y                 324421 non-null  object
 56  CoName                   324420 non-null  object
 57  Hole_y                   324421 non-null  float64
 58  SideTrck_y               324421 non-null  float64
 59  Completion_y             324421 non-null  float64
 60  Well_Typ                 324421 non-null  object
 61  Field                    324411 non-null  object
 62  Wl_Status                324421 non-null  object
 63  Well_Nm                  324385 non-null  object
 64  town_y                   324285 non-null  object
 65  Prod Form                324421 non-null  object
 66  MonthProd                318225 non-null  float64
 67  GasProd                  290612 non-null  float64
 68  WaterProd                300871 non-null  float64
 69  OilProd                  276202 non-null  float64
 70  Year                     324421 non-null  float64
dtypes: float64(22), int64(6), object(43)
memory usage: 190.0+ MB

In [5]:
df

,API_WellNo,Cnty,Hole_x,SideTrck_x,Completion_x,Well_Name,Company_name,Operator_number,Well_Type,Map_Symbol,Well_Status,Date_Status,Date_Permit_Application,Permit_Issued,Date_Spudded,Date_Total_Depth,Date_Well_Completed,Date_well_plugged,Date_well_confidential,confid,town_x,quad,quadsec,Producing_name,Producing_formation,Financial_security,Slant,County_x,Region,State_lease,Proposed_depth,Surface_location,Surface_Longitude,Surface_latitude,Bottom_hole_location,Bottom_hole_longitude,Bottom_hole_latitude,True_vertical_depth,Measured_depth,Kickoff,DrilledDepth,Elevation,Original_well_type,Permit_Fee,Objective_formation,Depth_Fee,Spacing,Spacing_Acres,Integration,Dt_Hearing,Dt_Mod,LINK,Location_Verified,GeneralWellType,GeneralWellStatus,County_y,CoName,Hole_y,SideTrck_y,Completion_y,Well_Typ,Field,Wl_Status,Well_Nm,town_y,Prod Form,MonthProd,GasProd,WaterProd,OilProd,Year
0,31001010720000,1,1072,0,0,Finch 1,Corona Typewriter,9372,NL,O,UN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Knox,Durham,C,Not Applicable,Not Applicable,False,Vertical,Albany,4.00,NaN,NaN,SURF,-74.13,42.49,BH,-74.13,42.49,"2,200.00","2,200.00",0.00,"2,200.00","1,155.00",OD,0.00,Not Applicable,0.00,NaN,NaN,NaN,NaN,2022-12-21 13:15:44.957000000,http://extapps.dec.ny.gov/cfmx/extapps/GasOil/...,NO,Other Well,Unplugged Well,Albany,Corona Typewriter,"1,072.00",0.00,0.00,NL,Not Applicable,UN,Finch 1,Knox,Not Applicable,NaN,NaN,NaN,NaN,"2,000.00"
1,31001010730000,1,1073,0,0,Hilton James 1,Belmont Quadrangle Drilling,9034,NL,O,UN,NaN,NaN,NaN,1907-01-01 00:00:00,1907-01-01 00:00:00,NaN,NaN,NaN,Pre-1989 Well (N/A),New Scotland,Voorheesville,I,Not Applicable,Not Applicable,False,Vertical,Albany,4.00,NaN,0.00,SURF,-73.91,42.64,BH,-73.91,42.64,0.00,0.00,0.00,0.00,423.00,NL,0.00,Not Applicable,0.00,Exempt from Title 5; variance needed from 6 NY...,NaN,NaN,NaN,2022-12-16 09:57:23.407000000,http://extapps.dec.ny.gov/cfmx/extapps/GasOil/...,NO,Other Well,Unplugged Well,Albany,Belmont Quadrangle Drilling,"1,073.00",0.00,0.00,NL,Not Applicable,UN,Hilton James 1,New Scotland,Not Applicable,NaN,NaN,NaN,NaN,"2,000.00"
2,31001210070000,1,21007,0,0,1,Turf Western Ave. Inc.,1903,TH,OP,PA,2016-04-06 00:00:00,1998-04-24 00:00:00,1998-07-16 00:00:00,1994-09-07 00:00:00,1994-09-13 00:00:00,1994-10-27 00:00:00,2016-04-06 00:00:00,NaN,Released,Guilderland,Albany,D,Not Applicable,NA - Geoexchange,True,Vertical,Albany,4.00,NaN,"1,500.00",SURF,-73.84,42.68,BH,-73.84,42.68,"1,500.00","1,500.00",0.00,"1,500.00",203.00,TH,475.00,NA - Geoexchange,375.00,Exempt - not an oil or gas well,NaN,NaN,NaN,2022-12-16 09:57:23.407000000,http://extapps.dec.ny.gov/cfmx/extapps/GasOil/...,NO,Geothermal Well,Plugged Well,Albany,"Turf Western Ave., Inc.","21,007.00",0.00,0.00,TH,Not Applicable,PA,1,Guilderland,NA - Geoexchange,NaN,NaN,NaN,NaN,"2,000.00"
3,31001210080000,1,21008,0,0,2,Turf Western Ave. Inc.,1903,TH,OP,PA,2016-04-06 00:00:00,1998-04-04 00:00:00,1998-07-16 00:00:00,1994-09-14 00:00:00,1994-09-21 00:00:00,1994-11-01 00:00:00,2016-04-06 00:00:00,NaN,Released,Guilderland,Albany,D,Not Applicable,Not Applicable,True,Vertical,Albany,4.00,NaN,"1,500.00",SURF,-73.84,42.68,BH,-73.84,42.68,"1,500.00","1,500.00",0.00,"1,500.00",204.00,TH,475.00,NA - Geoexchange,375.00,Exempt - not an oil or gas well,NaN,NaN,NaN,2022-12-16 09:57:23.407000000,http://extapps.dec.ny.gov/cfmx/extapps/GasOil/...,NO,Geothermal Well,Plugged Well,Albany,"Turf Western Ave., Inc.","21,008.00",0.00,0.00,TH,Not Applicable,PA,2,Guilderland,Not Applicable,NaN,NaN,NaN,NaN,"2,000.00"
4,31001210090000,1,21009,0,0,3,Turf Western Ave. Inc.,1903,TH,OP,PA,2016-05-06 00:00:00,1998-04-24 00:00:00,1998-07-16 00:00:00,1994-09-21 00:00:00,1994-09-28 00:00:00,1994-11-04 00:00:00,2016-05-06 00:00:00,NaN,Released,Guilderland,Albany,D,Not Applicable,Not Applicable,True,Vertical,Albany,4.00,NaN,"1,500.00",SURF,-73.84,42.68,BH,-73.84,42.68,"1,420.00","1,420.00",0.00,"1,420.00",204.00,TH,475.00,NA - Geoexchange,375.00,Exempt - not an oil or gas well,NaN,NaN,NaN,2022-12-16 09:57:23.407000000,http://extapps.dec.ny.gov/cfmx/extapps/GasOil/...,NO,Geothermal Well,Plugged Well,Albany,"Turf Western Ave., Inc.","21,009.00",0.00,0.00,TH,Not Applicable,PA,3,Guilderland,Not Applicable,NaN,NaN,NaN,NaN,"2,000.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350811,31123261630000,123,26163,0,0,Cook 1 (626940),Cook Lee J.,2888,GE,GW,AC,NaN,2008-06-30 00:00:00,2008-07-08 00:00:00,2008-08-04 00:00:00,2008-08-24 00:00:00,2008-09-04 00:00:00,NaN,2010-08-04 00:00:00,Released,Barrington,Keuka Park,F,South Penn Yan,Queenston,True,Vertical,Yates,8.00,NaN,"4,100.00",SURF,-77.03,42.57,BH,-77.03,42.57,"4,075.00","4,075.00",0.00,"4,075.00","1,354.00",GE,"1,810.00",Queenston,"1,710.00",Conforms to statewide spacing under Title 5,80.00,No integration order required,NaN,2022-12-16 09:57:26.227000000,http://extapps.dec.ny.gov/cfmx/extapps/GasOil/...,NO,Gas Well,Unplugged Well,Yates,"Cook, Lee J.","26,163.00",0.00,0.00,GE,South Penn Yan,AC,Cook 1 (626940),Barrington,Queenston,0.00,0.00,0.00,0.00,"2,008.00"
350812,31123261630000,123,26163,0,0,Cook 1 (626940),Cook Lee J.,2888,GE,GW,AC,NaN,2008-06-30 00:00:00,2008-07-08 00:00:00,2008-08-04 00:00:00,2008-08-24 00:00:00,2008-09-04 00:00:00,NaN,2010-08-04 00:00:00,Released,Barrington,Keuka Park,F,South Penn Yan,Queenston,True,Vertical,Yates,8.00,NaN,"4,100.00",SURF,-77.03,42.57,BH,-77.03,42.57,"4,075.00","4,075.00",0.00,"4,075.00","1,354.00",GE,"1,810.00",Queenston,"1,710.00",Conforms to statewide spacing under Title 5,80.00,No integration order required,NaN,2022-12-16 09:57:26.227000000,http://extapps.dec.ny.gov/cfmx/extapps/GasOil/...,NO,Gas Well,Unplugged Well,Yates,"Cook, Lee J.","26,163.00",0.00,0.00,GE,South Penn Yan,AC,Cook 1 (626940),Barrington,Queenston,0.00,0.00,0.00,0.00,"2,009.00"
350813,31123261630000,123,26163,0,0,Cook 1 (626940),Cook Lee J.,2888,GE,GW,AC,NaN,2008-06-30 00:00:00,2008-07-08 00:00:00,2008-08-04 00:00:00,2008-08-24 00:00:00,2008-09-04 00:00:00,NaN,2010-08-04 00:00:00,Released,Barrington,Keuka Park,F,South Penn Yan,Queenston,True,Vertical,Yates,8.00,NaN,"4,100.00",SURF,-77.03,42.57,BH,-77.03,42.57,"4,075.00","4,075.00",0.00,"4,075.00","1,354.00",GE,"1,810.00",Queenston,"1,710.00",Conforms to statewide spacing under Title 5,80.00,No integration order required,NaN,2022-12-16 09:57:26.227000000,http://extapps.dec.ny.gov/cfmx/extapps/GasOil/...,NO,Gas Well,Unplugged Well,Yates,"Cook, Lee J.","26,163.00",0.00,0.00,GE,South Penn Yan,AC,Cook 1 (626940),Barrington,Queenston,12.00,"1,537.00",0.00,0.00,"2,021.00"
350814,31123550110000,123,55011,0,0,Castner 1-S,Cabot Oil & Gas Corp.,209,DH,DP,PA,1987-11-21 00:00:00,1987-10-09 00:00:00,1987-10-27 00:00:00,1987-10-31 00:00:00,NaN,1987-11-21 00:00:00,1987-11-21 00:00:00,NaN,Pre-1989 Well (N/A),Potter,Potter,F,North Penn Yan,Not Applicable,False,Vertical,Yates,8.00,NaN,"3,580.00",SURF,-77.16,42.67,BH,-77.16,42.67,"1,550.00","1,550.00",0.00,"1,550.00","1,090.00",NL,"1,100.00",Not Applicable,"1,000.00",NaN,NaN,NaN,NaN,2022-12-16 09:57:23.407000000,http://extapps.dec.ny.gov/cfmx/extapps/GasOil/...,NO,Other Well,Plugged Well,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
350815,31123615210000,123,61521,0,0,Castner 1,Cabot Oil & Gas Corp.,209,DH,DP,PA,1987-11-21 00:00:00,1987-10-09 00:00:00,1987-10-27 00:00:00,1987-10-31 00:00:00,1987-11-21 00:00:00,1987-11-21 00:00:00,1987-11-21 00:00:00,NaN,Pre-1989 Well (N/A),Potter,Potter,F,Not Applicable,Not Applicable,False,Vertical,Yates,8.00,NaN,"3,580.00",SURF,-77.16,42.67,BH,-77.16,42.67,"1,550.00","1,550.00",0.00,"1,550.00","1,090.00",NL,"1,100.00",Queenston,"1,000.00",NaN,NaN,NaN,NaN,2022-12-16 09:57:23.407000000,http://extapps.dec.ny.gov/cfmx/extapps/GasOil/...,NO,Other Well,Plugged Well,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.describe()

,API_WellNo,Cnty,Hole_x,SideTrck_x,Completion_x,Operator_number,Region,Proposed_depth,Surface_Longitude,Surface_latitude,Bottom_hole_longitude,Bottom_hole_latitude,True_vertical_depth,Measured_depth,Kickoff,DrilledDepth,Elevation,Permit_Fee,Depth_Fee,Spacing_Acres,Hole_y,SideTrck_y,Completion_y,MonthProd,GasProd,WaterProd,OilProd,Year
count,"350,816.00","350,816.00","350,816.00","350,816.00","350,816.00","350,816.00","350,810.00","343,663.00","350,496.00","350,496.00","350,367.00","350,367.00","350,810.00","350,810.00","350,810.00","350,810.00","258,171.00","350,401.00","350,810.00","9,101.00","324,421.00","324,421.00","324,421.00","318,225.00","290,612.00","300,871.00","276,202.00","324,421.00"
mean,"31,020,263,600,399.08",19.98,"28,212.86",0.00,0.02,"2,062.34",8.82,"1,655.61",-78.26,42.13,-78.26,42.13,"2,093.19","2,108.30",60.52,"2,049.25","1,419.48",405.33,361.49,183.46,"27,429.18",0.00,0.02,8.46,"2,239.45",49.62,22.70,"2,011.57"
std,"26,687,854,950.86",26.74,"20,467.98",0.08,0.14,"1,508.88",0.51,"1,723.47",4.77,2.55,4.77,2.56,"1,527.82","1,593.78",681.62,"1,414.41",483.12,589.53,551.39,218.05,"19,779.18",0.08,0.15,7.03,"41,557.41",624.74,98.21,6.91
min,"31,001,010,720,000.00",1.00,5.00,0.00,0.00,1.00,1.00,0.00,-79.76,0.00,-79.76,0.00,0.00,0.00,0.00,0.00,3.00,0.00,0.00,0.00,24.00,0.00,0.00,0.00,0.00,0.00,0.00,"2,000.00"
25%,"31,009,126,730,000.00",9.00,"14,872.00",0.00,0.00,"1,145.00",9.00,0.00,-79.16,42.05,-79.16,42.05,"1,148.00","1,148.00",0.00,"1,145.00","1,015.00",0.00,0.00,40.12,"15,164.00",0.00,0.00,3.00,0.00,0.00,0.00,"2,006.00"
50%,"31,013,106,580,000.00",13.00,"20,422.00",0.00,0.00,"2,354.00",9.00,"1,450.00",-78.56,42.13,-78.56,42.13,"1,774.00","1,775.00",0.00,"1,764.00","1,489.00",0.00,0.00,80.00,"20,177.00",0.00,0.00,12.00,204.00,0.00,0.00,"2,012.00"
75%,"31,013,247,030,000.00",13.00,"28,063.00",0.00,0.00,"2,731.00",9.00,"2,800.00",-78.10,42.44,-78.10,42.44,"3,275.00","3,281.00",0.00,"3,236.00","1,740.00",850.00,750.00,210.00,"26,062.00",0.00,0.00,12.00,"1,078.00",3.00,2.00,"2,018.00"
max,"31,123,615,210,000.00",123.00,"90,001.00",4.00,4.00,"9,999.00",9.00,"13,450.00",0.00,44.72,0.00,44.72,"13,500.00","15,921.00","11,800.00","15,795.00","3,500.00","11,000.00","10,900.00",691.78,"90,001.00",4.00,3.00,370.00,"6,474,551.00","194,537.00","8,645.00","2,023.00"

In [7]:
print(prod_data.columns.shape, well_data.columns.shape)

(17,) (55,)

In [8]:
# unique_check = df.drop(['url', 'region', 'region_url', 'image_url', 'description'], axis=1).copy()
for column, rows in df.items():
    print('----------')
    print(f'{column} --- {df[column].unique()} --- {df[column].nunique()} | na {df[column].isna().sum()} | {df[column].dtype}')

----------
API_WellNo --- [31001010720000 31001010730000 31001210070000 ... 31123261630000
 31123550110000 31123615210000] --- 46836 | na 0 | int64
----------
Cnty --- [  1   3   5   7   9  11  13  15  17  19  23  25  27  29  31  35  37  39
  43  45  49  51  53  55  57  59  61  63  65  67  69  71  73  75  77  81
  85  87  89  91  93  95  97  99 101 105 107 109 111 113 115 117 119 121
 123] --- 55 | na 0 | int64
----------
Hole_x --- [ 1072  1073 21007 ... 26163 55011 61521] --- 43717 | na 0 | int64
----------
SideTrck_x --- [0 1 2 3 4] --- 5 | na 0 | int64
----------
Completion_x --- [0 1 2 3 4] --- 5 | na 0 | int64
----------
Well_Name --- ['Finch 1' 'Hilton James 1' '1' ... 'Lyman Thomas 1' 'Cook 1 (626940)'
 'Castner 1-S'] --- 43286 | na 40 | object
----------
Company_name --- ['Corona Typewriter' 'Belmont Quadrangle Drilling'
 'Turf Western Ave. Inc.' ... 'Nolt Leonard R. and Marian M. Nolt'
 'Zimmerman Wayne W. and Pauline R.' 'Cook Lee J.'] --- 2287 | na 7 | object
----------
Operator_number --- [9372 9034 1903 ... 2928 2898 2888] --- 2293 | na 0 | int64
----------
Well_Type --- ['NL' 'TH' 'ST' 'MS' 'DW' 'GD' 'GW' 'DH' 'OD' 'IW' 'OW' 'OE' 'DS' 'GE'
 'MM' 'SG' 'Confidential' 'LP' 'BR' 'MB'] --- 20 | na 0 | object
----------
Map_Symbol --- ['O' 'OP' 'S' 'SP' 'DP' 'GW' 'GWP' 'OWP' 'DH' 'OW' nan 'CON' 'SM' 'SMP'] --- 13 | na 1 | object
----------
Well_Status --- ['UN' 'PA' 'IN' 'VP' 'AC' 'AR' 'UM' 'UL' 'CO' 'EX' 'PB' 'NR' 'TR' 'RE'
 'DD' 'CA' 'SI' 'NL' 'PM' 'RW' 'DC' 'DG' 'Confidential' 'PI' 'TA'] --- 25 | na 0 | object
----------
Date_Status --- [nan '2016-04-06 00:00:00' '2016-05-06 00:00:00' ... '2007-02-09 00:00:00'
 '2008-04-27 00:00:00' '2014-07-27 00:00:00'] --- 10951 | na 264450 | object
----------
Date_Permit_Application --- [nan '1998-04-24 00:00:00' '1998-04-04 00:00:00' ... '2001-12-20 00:00:00'
 '2004-06-08 00:00:00' '2008-02-27 00:00:00'] --- 6396 | na 107620 | object
----------
Permit_Issued --- [nan '1998-07-16 00:00:00' '1978-06-19 00:00:00' ... '2001-12-14 00:00:00'
 '2002-02-07 00:00:00' '2004-06-23 00:00:00'] --- 6241 | na 102059 | object
----------
Date_Spudded --- [nan '1907-01-01 00:00:00' '1994-09-07 00:00:00' ... '2001-12-18 00:00:00'
 '2004-08-20 00:00:00' '1987-10-31 00:00:00'] --- 12380 | na 94165 | object
----------
Date_Total_Depth --- [nan '1907-01-01 00:00:00' '1994-09-13 00:00:00' ... '2007-06-22 00:00:00'
 '2008-06-23 00:00:00' '1987-11-21 00:00:00'] --- 10324 | na 104871 | object
----------
Date_Well_Completed --- [nan '1994-10-27 00:00:00' '1994-11-01 00:00:00' ... '2008-04-27 00:00:00'
 '2008-09-04 00:00:00' '1987-11-21 00:00:00'] --- 12881 | na 69809 | object
----------
Date_well_plugged --- [nan '2016-04-06 00:00:00' '2016-05-06 00:00:00' ... '2004-06-09 00:00:00'
 '2008-04-27 00:00:00' '2014-07-27 00:00:00'] --- 9479 | na 306727 | object
----------
Date_well_confidential --- [nan '2009-06-10 00:00:00' '2008-07-17 00:00:00' ... '2005-02-20 00:00:00'
 '2010-05-23 00:00:00' '2010-06-27 00:00:00'] --- 4270 | na 248492 | object
----------
confid --- [nan 'Pre-1989 Well (N/A)' 'Released'
 'Application Received or Permit Issued' 'Initial 6-month Period'] --- 4 | na 214 | object
----------
town_x --- ['Knox' 'New Scotland' 'Guilderland' 'Albany' 'Willing' 'Independence'
 'Andover' 'Angelica' 'Wellsville' 'UNK' 'Allen' 'Friendship' 'Alma'
 'Bolivar' 'Amity' 'Wirt' 'Clarksville' 'Birdsall' 'Almond' 'West Almond'
 'Scio' 'Alfred' 'Ward' 'Belfast' 'New Hudson' 'Granger' 'Hume' 'Caneadea'
 'Burns' 'Cuba' 'Centerville' 'Grove' 'Genesee' 'Portville' nan
 'Greenwood' 'Rushford' 'Bronx' 'Chenango' 'Maine' 'Binghamton' 'Lisle'
 'Binghamton City' 'Barker' 'Triangle' 'Union' 'Fenton' 'Kirkwood'
 'Colesville' 'Nanticoke' 'Vestal' 'Sanford' 'Randolph' 'Machias'
 'Allegany' 'Humphrey' 'Olean' 'Persia' 'Dayton' 'Farmersville' 'Leon'
 'New Albion' 'Otto' 'Perrysburg' 'Franklinville' 'Little Valley'
 'Carrollton' 'East Otto' 'Yorkshire' 'Red House' 'Cold Spring' 'Hinsdale'
 'Conewango' 'Ischua' 'Olean City' 'Great Valley' 'South Valley' 'Ashford'
 'Lyndon' 'Ellicottville' 'Freedom' 'Napoli' 'Mansfield' 'Ledyard' 'Locke'
 'Cato' 'Throop' 'Conquest' 'Venice' 'Brutus' 'Aurelius' 'Owasco'
 'Springport' 'Sennett' 'Ira' 'Victory' 'Fleming' 'Summerhill' 'Montezuma'
 'Genoa' 'Scipio' 'Auburn City' 'Mentz' 'Sempronius' 'Busti' 'Kiantone'
 'Portland' 'Sheridan' 'Hanover' 'Arkwright' 'Carroll' 'Chautauqua'
 'Villenova' 'North Harmony' 'Pomfret' 'Clymer' 'Charlotte' 'French Creek'
 'Ripley' 'Dunkirk City' 'Ellery' 'Westfield' 'Stockton' 'Ellington'
 'Jamestown' 'Gerry' 'Dunkirk' 'Poland' 'Harmony' 'Mina' 'Ellicott'
 'Cherry Creek' 'Sherman' 'Brant' 'Van Etten' 'Southport' 'Elmira City'
 'Big Flats' 'Elmira' 'Horseheads' 'Chemung' 'Erin' 'Veteran' 'Baldwin'
 'Catlin' 'Ashland' 'Norwich' 'Columbus' 'Smithville' 'Greene' 'Guilford'
 'Coventry' 'Oxford' 'Smyrna' 'Preston' 'Otselic' 'Plymouth' 'McDonough'
 'Afton' 'German' 'Bainbridge' 'Plattsburgh Cit' 'Cortlandville' 'Harford'
 'Homer' 'Cincinnatus' 'Freetown' 'Scott' 'Taylor' 'Solon' 'Virgil'
 'Lapeer' 'Franklin' 'Delhi' 'Hancock' 'Hamden' 'Sidney' 'Roxbury'
 'Middletown' 'Deposit' 'Wappinger' 'Newstead' 'West Seneca' 'Buffalo'
 'Elma' 'Lancaster' 'Tonawanda' 'Collins' 'Evans' 'Tonawanda City'
 'Amherst' 'Cheektowaga' 'Eden' 'Colden' 'North Collins' 'Boston'
 'Concord' 'Clarence' 'Alden' 'Marilla' 'Aurora' 'Wales' 'Holland'
 'Sardinia' 'Orchard Park' 'Hamburg' 'Lackawanna' 'Grand Island'
 'Ticonderoga' 'Johnstown City' 'Ephratah' 'Johnstown' 'Mayfield'
 'Broadalbin' 'Bethany' 'Pavilion' 'Le Roy' 'Batavia' 'Darien' 'Alexander'
 'Pembroke' 'Stafford' 'Byron' 'Alabama' 'Elba' 'Oakfield' 'Bergen'
 'Cairo' 'Windham' 'Catskill' 'German Flatts' 'Winfield' 'Warren' 'Stark'
 'Mohawk' 'Fairfield' 'Herkimer' 'Little Falls' 'Adams' 'Watertown City'
 'Rodman' 'Brownville' 'Le Ray' 'Hounsfield' 'Harrisburg' 'Martinsburg'
 'Pinckney' 'Lewis' 'Denmark' 'West Turin' 'York' 'Portage' 'Ossian'
 'Lima' 'Leicester' 'West Sparta' 'Caledonia' 'Avon' 'Livonia' 'Nunda'
 'North Dansville' 'Mount Morris' 'Conesus' 'Geneseo' 'Groveland' 'Sparta'
 'Sullivan' 'Eaton' 'Lenox' 'Brookfield' 'Madison' 'Lebanon' 'Georgetown'
 'Fenner' 'Deruyter' 'Nelson' 'Stockbridge' 'Smithfield' 'Rush' 'Mendon'
 'Sweden' 'Brighton' 'Chili' 'Henrietta' 'Riga' 'Irondequoit' 'Hamlin'
 'Rochester' 'Glen' 'Palatine' 'Root' 'Minden' 'Florida' 'North Hempstead'
 'Glen Cove' 'Manhattan' 'Newfane' 'Royalton' 'Lewiston' 'Pendleton'
 'Somerset' 'Niagara' 'Cambria' 'Niagara Falls' 'North Tonawanda'
 'Florence' 'Camden' 'Utica' 'Whitestown' 'Verona' 'Rome' 'Western'
 'Vernon' 'Trenton' 'Marcy' 'Westmoreland' 'Remsen' 'Sangerfield'
 'Steuben' 'Lysander' 'Camillus' 'Onondaga' 'Van Buren' 'Elbridge'
 'Lafayette' 'Salina' 'Syracuse City' 'Tully' 'Marcellus' 'Otisco'
 'Spafford' 'Pompey' 'Canandaigua City' 'Bristol' 'West Bloomfield'
 'East Bloomfield' 'Gorham' 'Geneva' 'Phelps' 'Canandaigua' 'Richmond'
 'Victor' 'Geneva City' 'Seneca' 'South Bristol' 'Naples' 'Hopewell'
 'Farmington' 'Manchester' 'Wawayanda' 'Deerpark' 'Mount Hope' 'Newburgh'
 'Clarendon' 'Gaines' 'Murray' 'Albion' 'Barre' 'Carlton' 'Yates' 'Shelby'
 'Kendall' 'Ridgeway' 'Orwell' 'Hastings' 'Parish' 'Richland' 'Mexico'
 'Volney' 'Scriba' 'Constantia' 'Granby' 'Redfield' 'Schroeppel'
 'Sandy Creek' 'Palermo' 'Williamstown' 'Oswego' 'West Monroe' 'Morris'
 'Pittsfield' 'Worcester' 'Maryland' 'Burlington' 'Laurens' 'Unadilla'
 'Otsego' 'Hartwick' 'Springfield' 'Cherry Valley' 'Queens'
 'Staten Island' 'Orangetown' 'Clarkstown' 'Ogdensburg' 'Greenfield'
 'Saratoga' 'Milton' 'Ballston' 'Galway' 'Princetown' 'Glenville'
 'Middleburg' 'Jefferson' 'Carlisle' 'Reading' 'Tyrone' 'Hector'
 'Catharine' 'Montour' 'Dix' 'Orange' 'Cayuta' 'Ovid' 'Junius' 'Waterloo'
 'Seneca Falls' 'Tyre' 'Fayette' 'Varick' 'Lodi' 'Romulus' 'Covert'
 'Jasper' 'Hartsville' 'Hornellsville' 'Bath' 'Woodhull' 'Erwin'
 'Thurston' 'Dansville' 'Corning' 'Canisteo' 'Campbell' 'Cameron'
 'Bradford' 'Avoca' 'Addison' 'Fremont' 'Hornby' 'Howard' 'Lindley'
 'Rathbone' 'Troupsburg' 'Tuscarora' 'West Union' 'Prattsburg' 'Urbana'
 'Wheeler' 'Pulteney' 'Wayne' 'Caton' 'Cohocton' 'Wayland' 'Thompson'
 'Rockland' 'Spencer' 'Tioga' 'Owego' 'Candor' 'Barton' 'Nichols'
 'Newfield' 'Groton' 'Lansing' 'Danby' 'Ithaca' 'Caroline' 'Dryden'
 'Ulysses' 'Enfield' 'Shandaken' 'Hardenburgh' 'Saugerties' 'Wawarsing'
 'Plattekill' 'Horicon' 'Queensbury' 'Hartford' 'Fort Ann' 'Easton'
 'Lyons' 'Galen' 'Wolcott' 'Ontario' 'Macedon' 'Butler' 'Arcadia'
 'Ossining' 'Greenburgh' 'New Rochelle' 'Yonkers' 'Mount Pleasant'
 'North Castle' 'Harrison' 'Scarsdale' 'White Plains' 'Mt Vernon' 'Arcade'
 'Eagle' 'Gainesville' 'Attica' 'Covington' 'Warsaw' 'Java' 'Perry'
 'Castile' 'Bennington' 'Sheldon' 'Wethersfield' 'Pike' 'Middlebury'
 'Orangeville' 'Genesee Falls' 'Milo' 'Torrey' 'Barrington' 'Jerusalem'
 'Starkey' 'Middlesex' 'Potter' 'Benton' 'Italy'] --- 522 | na 364 | object
----------
quad --- ['Durham' 'Voorheesville' 'Albany' 'Troy South' 'Whitesville'
 'Wellsville South' 'West Almond' 'Wellsville North' nan 'Fillmore'
 'Belmont' 'Allentown' 'Bolivar' 'Friendship' 'Canaseraga' 'Alfred'
 'Andover' 'Black Creek' 'Angelica' 'Birdsall' 'Houghton'
 'Ellisburg, PA-NY' 'Freedom' 'Pike' 'Cuba' 'Portville' 'Rawson'
 'Rexville' 'Oswayo, PA-NY' 'Greenwood' 'Hornell' 'Central Park'
 'Castle Creek' 'Maine' 'Binghamton West' 'Whitney Point' 'Greene'
 'Willet' 'Smithville Flats' 'Endicott' 'Chenango Forks' 'Belden' 'Lisle'
 'Afton' 'North Sanford' 'Gulf Summit' 'Deposit' 'Steamburg' 'Delevan'
 'Knapp Creek' 'Humphrey' 'Olean' 'Gowanda' 'Perrysburg' 'Cherry Creek'
 'New Albion' 'Collins Center' 'Franklinville' 'Salamanca' 'Farnham'
 'Red House' 'North Collins' 'Randolph' 'Limestone' 'Hinsdale'
 'Ellicottville' 'Ashford Hollow' 'West Valley' 'Little Valley' 'Ashford'
 'Cattaraugus' 'Eden' 'Kennedy' 'Arcade' 'Ivory' 'Sardinia'
 'Derrick City PA-NY' 'Bradford PA' 'Sheldrake' 'Moravia' 'Weedsport'
 'Cayuga' 'Cato' 'Union Springs' 'Genoa' 'Auburn' 'Owasco' 'Fulton'
 'Montezuma' 'Sempronius' 'Scipio Center' 'Skaneateles' 'Victory'
 'Lakewood' 'Jamestown' 'Brocton' 'North Of Dunkirk' 'Silver Creek'
 'Dunkirk' 'Chautauqua' 'North Clymer' 'Hamlet' 'Clymer' 'North East PA'
 'Forestville' 'Hartfield' 'Ellery Center' 'Westfield' 'Cassadaga'
 'Ripley' 'Gerry' 'Panama' 'South Ripley' 'Sherman' 'Sugar Grove, PA-NY'
 'North East' 'Sugar Grove PA' 'Wattsburg, PA-NY' 'Columbus PA-NY'
 'North Of Westfield' 'Van Etten' 'Elmira' 'Seeley Creek' 'Erin' 'Waverly'
 'Wellsburg' 'Horseheads' 'Big Flats' 'Beaver Dams' 'Montour Falls'
 'West Danby' 'Norwich' 'New Berlin North' 'Guilford' 'Brisben'
 'West Bainbridge' 'Otselic' 'Oxford' 'Earlville' 'East Pharsalia' 'Tyner'
 'Sidney' 'Pitcher' 'Morrisonville' 'Groton' 'Harford' 'Homer'
 'Cincinnatus' 'Mcgraw' 'Cuyler' 'Cortland' 'Marathon' 'Otisco Valley'
 'Treadwell' 'Bloomville' 'Hancock' 'Hamden' 'Franklin' 'Hobart' 'Oneonta'
 'Margaretville' 'Roxbury' 'Horton' 'Fishs Eddy' 'Cannonsville Reservoir'
 'Wappingers Falls' 'Clarence' 'Buffalo SE' 'Buffalo NE' 'Orchard Park'
 'Lancaster' 'Buffalo NW' 'Tonawanda East' 'Hamburg' 'Colden' 'Langford'
 'Corfu' 'East Aurora' 'Holland' 'Strykersville' 'Springville' 'Angola'
 'Cowlesville' 'Wolcottsville' 'Clarence Center' 'Tonawanda West' 'Akron'
 'Ticonderoga' 'Peck Lake' 'Canajoharie' 'Gloversville' 'Broadalbin'
 'Stafford' 'Wyoming' 'Le Roy' 'Oakfield' 'Batavia South' 'Attica'
 'Alexander' 'Leicester' 'Byron' 'Batavia North' 'Churchville' 'Freehold'
 'Hensonville' 'Cementon' 'Ilion' 'Unadilla Forks' 'Jordanville'
 'Van Hornesville' 'West Winfield' 'Herkimer' 'Adams' 'Watertown' 'Rodman'
 'Dexter' 'Black River' 'Sackets Harbor' 'West Lowville' 'New Boston'
 'Point Rock' 'Carthage' 'High Market' 'Portageville' 'Dansville'
 'Livonia' 'Caledonia' 'Rush' 'Geneseo' 'Honeoye Falls' 'Nunda' 'Sonyea'
 'Conesus' 'Ossian' 'Arkport' 'Mount Morris' 'Honeoye' 'Canastota'
 'Morrisville' 'Hubbardsville' 'Jewell' 'West Eaton' 'Brookfield'
 'Hamilton' 'Cazenovia' 'Erieville' 'Oneida' 'Munnsville' 'Brockport'
 'Rochester East' 'West Henrietta' 'Clifton' 'Hamlin' 'Tribes Hill'
 'Carlisle' 'Sprout Brook' 'Fort Plain' 'Flushing' 'Hicksville'
 'Jersey City' 'Brooklyn' 'Newfane' 'Gasport' 'Ransomville' 'Barker'
 'Medina' 'Niagara Falls' 'Cambria' 'Florence' 'Camden West' 'Camden East'
 'Westdale' 'Utica West' 'Utica East' 'Sylvan Beach' 'Rome' 'Westernville'
 'Vernon' 'Verona' 'South Trenton' 'North Western' 'Clinton' 'Forestport'
 'Oriskany Falls' 'Remsen' 'Baldwinsville' 'Camillus' 'Syracuse West'
 'Jordan' 'Lysander' 'South Onondaga' 'Marcellus' 'Oran' 'Canandaigua'
 'Bristol Center' 'Canandaigua Lake' 'Rushville' 'Geneva North' 'Phelps'
 'Stanley' 'Victor' 'Bristol Springs' 'Naples' 'Middlesex' 'Macedon'
 'Clifton Springs' 'Middletown' 'Port Jervis North' 'Otisville' 'Holley'
 'Kent' 'Kendall' 'Knowlesville' 'Lyndonville' 'Albion' 'Ashwood' 'Orwell'
 'Central Square' 'Dugway' 'Mexico' 'Pennellville' 'Oswego East' 'Mallory'
 'Sandy Creek' 'Richland' 'Ellisburg' 'Pulaski' 'Williamstown' 'Hannibal'
 'New Berlin South' 'Morris' 'South Valley' 'Milford' 'Hartwick'
 'Mount Vision' 'Unadilla' 'Gilbertsville' 'Cooperstown'
 'Richfield Springs' 'East Springfield' 'Jamaica' 'Nyack' 'Park Ridge'
 'Ogdensburg East' 'Corinth' 'Quaker Springs' 'Saratoga Springs'
 'Burnt Hills' 'Middle Grove' 'Rotterdam Junction' 'Pattersonville'
 'Middleburgh' 'Stamford' 'Wayne' 'Trumansburg' 'Alpine' 'Burdett'
 'Reading Center' 'Lodi' 'Bradford NY' 'Dundee' 'Mecklenburg' 'Ovid'
 'Seneca Falls' 'Savannah' 'Romulus' 'Geneva South' 'Lyons' 'Cameron'
 'South Canisteo' 'Savona' 'Woodhull' 'Corning' 'Caton' 'Campbell'
 'Haskinville' 'Bath' 'Avoca' 'Addison' 'Canisteo' 'Troupsburg' 'Rathbone'
 'Borden' 'Rheims' 'Hammondsport' 'Pulteney' 'Prattsburg' 'Towlesville'
 'Wayland' 'Roscoe' 'Monticello' 'Spencer' 'Owego' 'Apalachin' 'Candor'
 'Barton' 'Newark Valley' 'Ludlowville' 'Ithaca West' 'Willseyville'
 'Ithaca East' 'West Groton' 'Dryden' 'Phoenicia' 'Shandaken' 'Seager'
 'Woodstock' 'Gardiner' 'Saugerties' 'Napanoch' 'Schroon Lake'
 'Hudson Falls' 'Hartford' 'Fort Ann' 'Schuylerville' 'Wolcott' 'Newark'
 'Sodus' 'Ossining' 'Yonkers' 'Mount Vernon' 'White Plains'
 'Glenville, CT-NY' 'Bliss' 'Castile' 'Warsaw' 'Dale' 'Johnsonburg'
 'Penn Yan' 'Keuka Park' 'Dresden' 'Potter'] --- 431 | na 1291 | object
----------
quadsec --- ['C' 'I' 'D' 'G' 'E' 'A' 'B' nan 'F' 'H' ' '] --- 10 | na 1374 | object
----------
Producing_name --- ['Not Applicable' 'Beech Hill-Independence' 'Beech Hill'
 'West Independence' 'East Independence' 'Allen' 'Boyle' 'Wirt' 'Richburg'
 'Gilbert' 'State Line' 'Fulmer Valley' 'Sharon' "Ford's Brook" 'Andover'
 'Corbin Hill' 'Alfred' 'Clarksville' 'Nile' 'Bradford' 'Alma' 'Scio'
 'Browning' 'Gordon Brook' 'Greenwood' 'Trapping Brook' 'Ceres' 'Rushford'
 'Karr Valley' 'Houghton' 'Belmont' 'Vandermark Creek' 'Farmersville' nan
 'Rush Creek' 'Sherry Hill' 'Crosby Creek' 'New Field Wildcat'
 'Whitesville' 'Cryder Creek' 'Madison Hill' 'Short Tract' 'Dutch Hill'
 'Triangle' 'Ballyhack Creek' 'Lakeshore' 'Nashville' 'Country Club'
 'Perrysburg' 'Red House' 'Limestone' 'Allegany State Park' 'Olean'
 'Hotchkiss Hollow' 'Indian Creek' 'Five Mile' 'Chipmunk' 'McClure Hollow'
 'Fancy Tract' 'Four Mile' 'Dayton' 'Rice Brook' 'English Brook'
 'Wolf Run' 'Bryant Hill Creek' 'Utley Brook' 'Pigeon Hill'
 'Dublin Hollow' 'Ashford' 'Quinlan Reef' 'Jersey Hollow' 'Portville'
 'Mallory' 'East Otto' 'Rawson' 'Mud Creek' 'Ellicotville' 'Humphrey'
 'Little Valley' 'Great Valley' 'Carrollton' 'Chaffee-Arcade' 'Hog Hollow'
 'Sardinia' 'Connoisarauley Creek' 'Bixby Hill' 'Snyders Corners Pool'
 'Cagwin' 'Confidential' 'Onoville' 'Halsey Valley' 'West Auburn' 'Auburn'
 'Blue Tail Rooster' 'Summerhill' 'Wells College' 'Ashland Farms'
 'Auburn Geothermal' 'Sheridan' 'Busti' 'Folsom Creek' 'Gerry-Charlotte'
 'Big Inlet Pool' 'North Harmony' 'Fredonia' 'Ellery' 'French Creek'
 'Clymer' 'Carroll' 'Clymer Hill' 'Harmony' 'Sprague Hill'
 'Conewango Creek' 'Kelly Hill' 'Cassadaga Creek' 'Burr Bear Pool'
 'Doolittle Hill' 'Elmira' 'Van Etten' 'Terry Hill South'
 'Quackenbush Hill' 'Langdon Hill' 'County Line' 'Wilson Hollow'
 'Seeley Creek' 'Laurel Run' 'Steege Hill' 'Cooper Hill' 'Cleveland Hill'
 'Veteran Hill' 'Darling Creek' 'Brick House' 'McDuffy Hollow'
 'Hulbert Hollow' 'Cramer Hollow' 'Baldwin Creek' 'Latta Brook' 'Skye-Top'
 'Horseheads' 'Bowman Hill' 'Big Flats' 'Genegantslet' 'Beaver Meadow'
 'Beaver Meadow - Herkimer pool' 'Beaver Meadow - Vernon pool'
 'Hawley Brook Field' 'Apple Core' 'Longhorn - Oneida Pool' 'Longhorn'
 'Longhorn - Hamilton Pool' 'Bradley Brook'
 'Bradley Brook - Herkimer pool' 'Harford Mills' 'Alden-Lancaster'
 'Lakeview' 'West Seneca' 'Buffalo' 'Elma' 'Brant-Eden' 'Tonawanda'
 'North Collins' 'Lawtons' 'Collins' 'Zoar' 'East Aurora' 'Buffalo Creek'
 'Bennington' 'Colden' 'Wales' 'Glenwood' 'Holland' 'Concord'
 'Orchard Park-Hamburg' 'Derby' 'Akron' 'Clarence' 'North Wales'
 'Cowlesville' 'Chestnut Ridge' 'South Wales' 'Travers' 'Central Wales'
 'Spooner Creek' 'Bockhahn' 'Hannon' 'Sheldon' 'Pavilion' 'Roanoke'
 'Indian Falls' 'Huron Creek' 'Danley Corners' 'Uhley Corners-Caledonia'
 'Alexander' 'Bethany' 'Bergen' 'Ellicott Creek' 'Tug Hill' 'Leicester'
 'Avon' 'Conesus' 'Dansville' 'Silver Lake' 'Finnegan Hill' 'Groveland'
 'Hunt Hollow' 'Sparta' 'Sangerfield' 'Lebanon' 'Hamilton' 'Brookfield'
 'Bradley Brook - Vernon pool' 'Churchville' 'Hamlin' 'Sanborn' 'Camden'
 'Rome' 'Baldwinsville' 'Memphis' 'Tully Brine' 'Cross Lake' 'Thorn Hill'
 'Vincent' 'West Bloomfield' 'Bristol' 'Geneva' 'Naples' 'Rushville'
 'Honeoye' 'Honeoye-Oriskany' 'East Bloomfield' 'Seneca Lake' 'Farmington'
 'Benton Run' 'Melvin Hill' 'Whetstone Brook' 'West River' 'Pulaski'
 'South Fulton' 'North Fulton' 'Sandy Creek' 'Kasoag' 'Little France'
 'Bass Lake' 'Wayne-Dundee' 'Salt Point Brine' 'Watkins Glen Village'
 'Salt Point Storage' 'Monterey' 'International Salt'
 'Gingerbread Corners' 'Reading' 'Sexton Hollow' 'Sugar Hill' 'Lodi'
 'Moreland' 'Watkins Glen' 'Meads Creek' 'Howland Hill' 'Goundry Hill'
 'Watkins Glen - Marcellus Pool' 'Seneca Falls' 'Fayette-Waterloo'
 'Rose Hill' 'Whiskey Hill' 'Montezuma Marsh' 'Romulus' 'Reeder Creek'
 'North Greenwood' 'Woodhull' 'Corning' 'Jasper' 'Bath' 'Howard'
 'Hungry Hollow' 'Rathbone' 'Tuscarora' 'West Union' 'East Harrison'
 'Harrison' 'Northwest Harrison' 'Purdy Creek' 'Adrian Reef' 'Savona'
 'South Bradford' 'Wyckoff' 'Hartsville' 'Thomas Corners' 'Marsh'
 'Stone Hill' 'North Corning' 'Jackson Hill' 'Avoca' 'Colonel Bills Creek'
 'Painted Post' 'Glodes Corners Road' 'Crosby Creek - Fulmer Valley Pool'
 'Milwaukee Creek' 'Big Creek' 'Coopers Plains' 'Bath-Lpg' 'Sullivan Park'
 'Muck Farm' 'Pine Hill' 'Cutler Creek' 'Beans Station' 'Riverside'
 'Caton' 'Deyo' 'Irish Hill' 'Whiskey Creek' 'McNutt Run' 'South Corning'
 'Rayner' 'Coover Hollow Northeast' 'Grass Hill South' 'Zimmer Hill'
 'Card School' 'Oak Hill' 'Stony Ridge' 'Forest Hill' 'John Hill'
 'Green Hill' 'Woodhull Austinburg' 'Kent Hill' 'Lamoka' 'Dry Run Creek'
 'Cafferty Hill' 'Stagecoach' 'Danby' 'Groton' 'Lansing' 'Ludlowville'
 'Clyde' 'Butler Creek' 'Millpond' 'Pangburn' 'Attica' 'Java' 'Castile'
 'Dale' 'Cascade Brook' 'Silver Springs' 'Wyoming' 'Wyoming Village'
 'Pike Corners' 'Wethersfield' "Tozier's Corners" 'Orangeville'
 'Dutch Hollow' 'Northwoods' 'Morton Salt' 'North Penn Yan'
 'South Penn Yan' 'Sugar Creek' 'Guyanoga Valley' 'Sunset Point'] --- 355 | na 17 | object
----------
Producing_formation --- ['Not Applicable' 'NA - Geoexchange' 'Oriskany' 'Medina' 'Richburg'
 'Tully' 'Fulmer Valley' 'Waugh & Porter' 'Penny & Fulmer Valley' 'Scio'
 'Clarksville' 'Upper Devonian Shale' 'Upper Devonian' 'Penny' 'Marcellus'
 'Devonian Shale' 'Richburg-Waugh & Porter' 'Helderberg' 'Onondaga'
 'Bradford Third' 'Bradford' 'Chipmunk' 'Nunda' 'Unknown' 'Queenston'
 'Black River' 'Whirlpool' 'Glade' 'Chipmunk & Bradford 2nd'

## Data Preparation
- Dropping irrelevant columns and rows
- Identifying duplicated columns / incorrect datatypes
- Impute `NaN`
- Renaming columns
- Feature creation or addressing any concerns

In [9]:
df.columns

Index(['API_WellNo', 'Cnty', 'Hole_x', 'SideTrck_x', 'Completion_x',
       'Well_Name', 'Company_name', 'Operator_number', 'Well_Type',
       'Map_Symbol', 'Well_Status', 'Date_Status', 'Date_Permit_Application',
       'Permit_Issued', 'Date_Spudded', 'Date_Total_Depth',
       'Date_Well_Completed', 'Date_well_plugged', 'Date_well_confidential',
       'confid', 'town_x', 'quad', 'quadsec', 'Producing_name',
       'Producing_formation', 'Financial_security', 'Slant', 'County_x',
       'Region', 'State_lease', 'Proposed_depth', 'Surface_location',
       'Surface_Longitude', 'Surface_latitude', 'Bottom_hole_location',
       'Bottom_hole_longitude', 'Bottom_hole_latitude', 'True_vertical_depth',
       'Measured_depth', 'Kickoff', 'DrilledDepth', 'Elevation',
       'Original_well_type', 'Permit_Fee', 'Objective_formation', 'Depth_Fee',
       'Spacing', 'Spacing_Acres', 'Integration', 'Dt_Hearing', 'Dt_Mod',
       'LINK', 'Location_Verified', 'GeneralWellType', 'GeneralWellStatus',
       'County_y', 'CoName', 'Hole_y', 'SideTrck_y', 'Completion_y',
       'Well_Typ', 'Field', 'Wl_Status', 'Well_Nm', 'town_y', 'Prod Form',
       'MonthProd', 'GasProd', 'WaterProd', 'OilProd', 'Year'],
      dtype='object')

In [10]:
df = df[[
    # 'Cnty', 'Hole_x', 'SideTrck_x', 'Completion_x', 'Well_Name', 'Company_name', 'Operator_number', 
    # 'Map_Symbol', 'Date_Status', 'Date_Permit_Application', 'Permit_Issued', 'Date_Spudded', 'Date_Total_Depth',
    # 'Date_Well_Completed', 'Date_well_plugged', 'Date_well_confidential', 'confid', 'town_x', 'quad', 'quadsec', 
    # 'Financial_security', 'Slant', 'County_x', 'State_lease', 'Proposed_depth', 'Surface_location', 'Well_Typ',
    # 'Bottom_hole_location', 'Elevation', 'Original_well_type', 'Permit_Fee', 'Objective_formation', 'Depth_Fee',
    # 'Spacing', 'Spacing_Acres', 'Integration', 'Dt_Hearing', 'Dt_Mod', 'LINK', 'GeneralWellType', 'Field',
    # 'GeneralWellStatus', 'County_y', 'CoName', 'Hole_y', 'SideTrck_y', 'Completion_y', 'Wl_Status', 'Well_Nm', 
    # 'town_y', 'MonthProd', 'WaterProd', 'OilProd','Prod Form', 'Year', 'Region',
    'API_WellNo', 'GasProd', 'Well_Type', 'Well_Status', 'True_vertical_depth', 'Location_Verified',
    'Surface_Longitude', 'Surface_latitude', 'Bottom_hole_longitude', 'Bottom_hole_latitude',
    'Producing_name', 'Producing_formation','Measured_depth', 'Kickoff', 'DrilledDepth' 
]].copy()

In [11]:
df.shape

(350816, 15)

In [12]:
for column, rows in df.items():
    print('----------')
    print(f'{column} --- {df[column].unique()} --- {df[column].nunique()} | na {df[column].isna().sum()} | {df[column].dtype}')

----------
API_WellNo --- [31001010720000 31001010730000 31001210070000 ... 31123261630000
 31123550110000 31123615210000] --- 46836 | na 0 | int64
----------
GasProd --- [   nan  8952.    93. ... 81841. 51069. 41569.] --- 11639 | na 60204 | float64
----------
Well_Type --- ['NL' 'TH' 'ST' 'MS' 'DW' 'GD' 'GW' 'DH' 'OD' 'IW' 'OW' 'OE' 'DS' 'GE'
 'MM' 'SG' 'Confidential' 'LP' 'BR' 'MB'] --- 20 | na 0 | object
----------
Well_Status --- ['UN' 'PA' 'IN' 'VP' 'AC' 'AR' 'UM' 'UL' 'CO' 'EX' 'PB' 'NR' 'TR' 'RE'
 'DD' 'CA' 'SI' 'NL' 'PM' 'RW' 'DC' 'DG' 'Confidential' 'PI' 'TA'] --- 25 | na 0 | object
----------
True_vertical_depth --- [2200.    0. 1500. ... 7142. 6375. 6115.] --- 5034 | na 6 | float64
----------
Location_Verified --- ['NO        ' 'YES       ' nan] --- 2 | na 6 | object
----------
Surface_Longitude --- [-74.12681  -73.90768  -73.83588  ... -76.947578 -77.029143 -77.16194 ] --- 36986 | na 320 | float64
----------
Surface_latitude --- [42.49029  42.6448   42.67931  ... 42.522333 42.571448 42.66962 ] --- 29439 | na 320 | float64
----------
Bottom_hole_longitude --- [-74.12681  -73.90768  -73.83588  ... -77.029143 -77.162238 -77.16194 ] --- 37188 | na 449 | float64
----------
Bottom_hole_latitude --- [42.49029  42.6448   42.67931  ... 42.571448 42.669554 42.66962 ] --- 29748 | na 449 | float64
----------
Producing_name --- ['Not Applicable' 'Beech Hill-Independence' 'Beech Hill'
 'West Independence' 'East Independence' 'Allen' 'Boyle' 'Wirt' 'Richburg'
 'Gilbert' 'State Line' 'Fulmer Valley' 'Sharon' "Ford's Brook" 'Andover'
 'Corbin Hill' 'Alfred' 'Clarksville' 'Nile' 'Bradford' 'Alma' 'Scio'
 'Browning' 'Gordon Brook' 'Greenwood' 'Trapping Brook' 'Ceres' 'Rushford'
 'Karr Valley' 'Houghton' 'Belmont' 'Vandermark Creek' 'Farmersville' nan
 'Rush Creek' 'Sherry Hill' 'Crosby Creek' 'New Field Wildcat'
 'Whitesville' 'Cryder Creek' 'Madison Hill' 'Short Tract' 'Dutch Hill'
 'Triangle' 'Ballyhack Creek' 'Lakeshore' 'Nashville' 'Country Club'
 'Perrysburg' 'Red House' 'Limestone' 'Allegany State Park' 'Olean'
 'Hotchkiss Hollow' 'Indian Creek' 'Five Mile' 'Chipmunk' 'McClure Hollow'
 'Fancy Tract' 'Four Mile' 'Dayton' 'Rice Brook' 'English Brook'
 'Wolf Run' 'Bryant Hill Creek' 'Utley Brook' 'Pigeon Hill'
 'Dublin Hollow' 'Ashford' 'Quinlan Reef' 'Jersey Hollow' 'Portville'
 'Mallory' 'East Otto' 'Rawson' 'Mud Creek' 'Ellicotville' 'Humphrey'
 'Little Valley' 'Great Valley' 'Carrollton' 'Chaffee-Arcade' 'Hog Hollow'
 'Sardinia' 'Connoisarauley Creek' 'Bixby Hill' 'Snyders Corners Pool'
 'Cagwin' 'Confidential' 'Onoville' 'Halsey Valley' 'West Auburn' 'Auburn'
 'Blue Tail Rooster' 'Summerhill' 'Wells College' 'Ashland Farms'
 'Auburn Geothermal' 'Sheridan' 'Busti' 'Folsom Creek' 'Gerry-Charlotte'
 'Big Inlet Pool' 'North Harmony' 'Fredonia' 'Ellery' 'French Creek'
 'Clymer' 'Carroll' 'Clymer Hill' 'Harmony' 'Sprague Hill'
 'Conewango Creek' 'Kelly Hill' 'Cassadaga Creek' 'Burr Bear Pool'
 'Doolittle Hill' 'Elmira' 'Van Etten' 'Terry Hill South'
 'Quackenbush Hill' 'Langdon Hill' 'County Line' 'Wilson Hollow'
 'Seeley Creek' 'Laurel Run' 'Steege Hill' 'Cooper Hill' 'Cleveland Hill'
 'Veteran Hill' 'Darling Creek' 'Brick House' 'McDuffy Hollow'
 'Hulbert Hollow' 'Cramer Hollow' 'Baldwin Creek' 'Latta Brook' 'Skye-Top'
 'Horseheads' 'Bowman Hill' 'Big Flats' 'Genegantslet' 'Beaver Meadow'
 'Beaver Meadow - Herkimer pool' 'Beaver Meadow - Vernon pool'
 'Hawley Brook Field' 'Apple Core' 'Longhorn - Oneida Pool' 'Longhorn'
 'Longhorn - Hamilton Pool' 'Bradley Brook'
 'Bradley Brook - Herkimer pool' 'Harford Mills' 'Alden-Lancaster'
 'Lakeview' 'West Seneca' 'Buffalo' 'Elma' 'Brant-Eden' 'Tonawanda'
 'North Collins' 'Lawtons' 'Collins' 'Zoar' 'East Aurora' 'Buffalo Creek'
 'Bennington' 'Colden' 'Wales' 'Glenwood' 'Holland' 'Concord'
 'Orchard Park-Hamburg' 'Derby' 'Akron' 'Clarence' 'North Wales'
 'Cowlesville' 'Chestnut Ridge' 'South Wales' 'Travers' 'Central Wales'
 'Spooner Creek' 'Bockhahn' 'Hannon' 'Sheldon' 'Pavilion' 'Roanoke'
 'Indian Falls' 'Huron Creek' 'Danley Corners' 'Uhley Corners-Caledonia'
 'Alexander' 'Bethany' 'Bergen' 'Ellicott Creek' 'Tug Hill' 'Leicester'
 'Avon' 'Conesus' 'Dansville' 'Silver Lake' 'Finnegan Hill' 'Groveland'
 'Hunt Hollow' 'Sparta' 'Sangerfield' 'Lebanon' 'Hamilton' 'Brookfield'
 'Bradley Brook - Vernon pool' 'Churchville' 'Hamlin' 'Sanborn' 'Camden'
 'Rome' 'Baldwinsville' 'Memphis' 'Tully Brine' 'Cross Lake' 'Thorn Hill'
 'Vincent' 'West Bloomfield' 'Bristol' 'Geneva' 'Naples' 'Rushville'
 'Honeoye' 'Honeoye-Oriskany' 'East Bloomfield' 'Seneca Lake' 'Farmington'
 'Benton Run' 'Melvin Hill' 'Whetstone Brook' 'West River' 'Pulaski'
 'South Fulton' 'North Fulton' 'Sandy Creek' 'Kasoag' 'Little France'
 'Bass Lake' 'Wayne-Dundee' 'Salt Point Brine' 'Watkins Glen Village'
 'Salt Point Storage' 'Monterey' 'International Salt'
 'Gingerbread Corners' 'Reading' 'Sexton Hollow' 'Sugar Hill' 'Lodi'
 'Moreland' 'Watkins Glen' 'Meads Creek' 'Howland Hill' 'Goundry Hill'
 'Watkins Glen - Marcellus Pool' 'Seneca Falls' 'Fayette-Waterloo'
 'Rose Hill' 'Whiskey Hill' 'Montezuma Marsh' 'Romulus' 'Reeder Creek'
 'North Greenwood' 'Woodhull' 'Corning' 'Jasper' 'Bath' 'Howard'
 'Hungry Hollow' 'Rathbone' 'Tuscarora' 'West Union' 'East Harrison'
 'Harrison' 'Northwest Harrison' 'Purdy Creek' 'Adrian Reef' 'Savona'
 'South Bradford' 'Wyckoff' 'Hartsville' 'Thomas Corners' 'Marsh'
 'Stone Hill' 'North Corning' 'Jackson Hill' 'Avoca' 'Colonel Bills Creek'
 'Painted Post' 'Glodes Corners Road' 'Crosby Creek - Fulmer Valley Pool'
 'Milwaukee Creek' 'Big Creek' 'Coopers Plains' 'Bath-Lpg' 'Sullivan Park'
 'Muck Farm' 'Pine Hill' 'Cutler Creek' 'Beans Station' 'Riverside'
 'Caton' 'Deyo' 'Irish Hill' 'Whiskey Creek' 'McNutt Run' 'South Corning'
 'Rayner' 'Coover Hollow Northeast' 'Grass Hill South' 'Zimmer Hill'
 'Card School' 'Oak Hill' 'Stony Ridge' 'Forest Hill' 'John Hill'
 'Green Hill' 'Woodhull Austinburg' 'Kent Hill' 'Lamoka' 'Dry Run Creek'
 'Cafferty Hill' 'Stagecoach' 'Danby' 'Groton' 'Lansing' 'Ludlowville'
 'Clyde' 'Butler Creek' 'Millpond' 'Pangburn' 'Attica' 'Java' 'Castile'
 'Dale' 'Cascade Brook' 'Silver Springs' 'Wyoming' 'Wyoming Village'
 'Pike Corners' 'Wethersfield' "Tozier's Corners" 'Orangeville'
 'Dutch Hollow' 'Northwoods' 'Morton Salt' 'North Penn Yan'
 'South Penn Yan' 'Sugar Creek' 'Guyanoga Valley' 'Sunset Point'] --- 355 | na 17 | object
----------
Producing_formation --- ['Not Applicable' 'NA - Geoexchange' 'Oriskany' 'Medina' 'Richburg'
 'Tully' 'Fulmer Valley' 'Waugh & Porter' 'Penny & Fulmer Valley' 'Scio'
 'Clarksville' 'Upper Devonian Shale' 'Upper Devonian' 'Penny' 'Marcellus'
 'Devonian Shale' 'Richburg-Waugh & Porter' 'Helderberg' 'Onondaga'
 'Bradford Third' 'Bradford' 'Chipmunk' 'Nunda' 'Unknown' 'Queenston'
 'Black River' 'Whirlpool' 'Glade' 'Chipmunk & Bradford 2nd'
 'Chipmunk & Bradford 3rd' 'Bradford 2nd & 3rd' 'Bradford Second' 'Akron'
 'Rice Brook & Chipmunk' 'Rice Brook' 'Bradford & Chipmunk'
 'Chipmunk, Bradford 2nd & 3rd' 'Bradford 1st & Chipmunk' 'Grimsby'
 'Onondaga-Bass Island' 'Chipmunk, Bradford 1st & 2nd' 'Theresa'
 'Chipmunk, Bradford 1st,2nd,3rd' 'Trenton' 'Bass Island' 'Camillus' nan
 'Hamilton' 'Chipmunk & Harrisburg' 'Bradford 1st & 2nd' 'Surficial'
 'Confidential' 'Harrisburg' 'Lockport' 'Syracuse' 'Salina' 'Laona'
 'Potsdam' 'Herkimer' 'Vernon' 'Oneida' 'Herkimer-Oneida' 'Clinton'
 'Retsof' 'Utica' 'Little Falls' 'Beekmantown Group' 'Medina-Queenston'
 'Bertie' 'Oneida-Oswego' 'Oswego' 'Fordham Gneiss' 'Manhattan Schist'
 'Inwood Marble' 'Lorraine' 'Niagara' 'Wappinger Limestone' 'Manlius'
 'Rochester Shale' 'Sodus Shale' 'Rhinestreet' 'Precambrian'
 'Yonkers Gneiss'] --- 82 | na 6 | object
----------
Measured_depth --- [2200.    0. 1500. ... 8831. 8320. 9320.] --- 5126 | na 6 | float64
----------
Kickoff --- [    0.  1400.  1200.  1100.  1000.  8810.  8050.  7900.  9090.  8726.
  3964.  3801.  3963.  4021.  4165.  4014.  4164.  4221.  4075.  4224.
  3862.  4022.  1800.  7100.  4000.  5050.   533.   450.   500.  3533.
  4202.    nan  5000.  5356.   493.   459.   601.  1946.  3500.   549.
  5944.  6054.  7658.  5721.  2400.  2550.  4700.  8700.  8868.  6450.
  6608.  7607.  7593.  7181.  6962.  9170.  8200.  6300.  6000.  6467.
  9435.  8450.  7850.  7978.  8475.  7034.  8000.  7200.  9000.  9186.
  9726. 10360.  7800.  8400.  9695. 10610.  7695.  9069. 10430.  9005.
  9620.  9716.  9268.  9750.  9982.  9602.  9134.  9580.  9800.  9850.
  8956.  8829.  9315. 10381.  8707. 11036.  8865. 10066. 10668.  8900.
  8845.  8609. 11109.  8643. 10222. 10369.  8760.  6750.  8714.  9743.
  6260.  9646.  9350.  9450.  9565.  9071.  9326.  3150.  7193.  9010.
  6053.  1474.  2001.  9542.  9017.  9537.  8895.  8820.  3142.  3144.
  9023.  5840.  3975.  3305.  3302.  3165.  9267.  2450.  3000.  3001.
  2897.  3418.  5281.  5464.  4900.  2900.  2390.  2623.  2350.  2320.
  2795.  2654.  3065.  2943.  3030.  3270.  3120.  2640.  2950.  2000.
  2600.  1750.  2610.  2300.  2713.  2476.  5235.  4433.  6650.  5325.
  5169.  5363.  5326.  6367.  6517.  6448.  6469.  6604.  6551.  6612.
  6572.  6504.   942.  1600.  1927.   496.   556.   376.  1502.  1003.
  2200.  1945.  1740.  1553.  2280.  2436.  1900.  2360.  2020.  1747.
  2310.  2633.  3130.  3092.  3154.  4150.  3966.   360.  2353.  2575.
  5885.  6251.  1059.  8113.  5700.  6939.  5720.  7614.  6567.  7625.
  6760.  7994.  2840.  7348.  8171.  8150.  8316.  8156.  8535.  8213.
 11800.  7350.  1119.   952.   530.  2512.  2596.  2461.  6400.  3950.
  1530.   869.  1930.   880.   886.  4897.   876.  3761.   675.  4254.
  1011.  6081.  4731.  8754.  5300.  5400.  5658.  4800.  4050.  2672.
  6310.  5907.  6197.  5788.  6644.  6024.  8412.  5523.  5378.  5800.
  6420.  8635.  7103.  8500.  7655.  9230. 10122.  9480.  9227.  9405.
  9050.  9370.  9463.  8844.  9618.  9626.  4970.  6138.  8787.  7174.
  9729. 10450.  8785.  9310.  9573. 10387. 10330.  9890.  8769.  8694.
  9642.  8932.  8404.  9390.  5155.  5422.  2700.  7099. 10272. 10653.
  8679.  8685.  8720.  9430.  9615.  8587.  9547. 10300. 10037.  8300.
  9060. 10280.   860.  3824.  4458.   900.  6982.  3082.   917.  4280.
  2850.  4487.  2887.  4360.  2940.  4238.  2800.  4144.  2507.  4320.
  5301.  5310.  4690.  4370.  4475.  4830.  4305.  4892.  4310.  9540.
  9696.  8650.  9714. 10777.  9725.  4450.  9400.  9242.  4300.  8827.
 10210.  9220.  9560.  9604.  8885.  3035.  3016.  3026.  3800.  6800.
  7050.  8254.  6500.  6711.  6385.  7497.  5903.  8377.  5730.  6720.
  2060.  1765.  1300.  2396.  1381.  2028.  1283.  1922.  1269.   575.
  1542.  1352.  1280.  2271.  1238.  1135.  1214.  1312.  1310.  1487.
  1419.  1320.  1560.  1480.  1260.  1330.  1345.  1548.  1534.  1537.
  1554.  1425.  1215.  1150.  1278.  1065.  1050.  1470.  1440.  2282.
  1410.  1555.  1535.  1565.  2013.  1455.  1350.  1275.  1296.  1362.
  1335.  1355.  1360.  1253.  4550.  4500.  5012.  5320.  5850.  4600.
  4794.  4048.  6110.  5043.  6550.  4554.  4167.  4453.  2973.  4650.
  4713.  4228.  5930.  3946.  6751.  6887.  5760.  5550.] --- 457 | na 6 | float64
----------
DrilledDepth --- [2200.    0. 1500. ... 6890. 6170. 5416.] --- 4866 | na 6 | float64

## Data Quality Check

In [13]:
df['Well_Type'].unique(), df.Well_Type.nunique()

(array(['NL', 'TH', 'ST', 'MS', 'DW', 'GD', 'GW', 'DH', 'OD', 'IW', 'OW',
        'OE', 'DS', 'GE', 'MM', 'SG', 'Confidential', 'LP', 'BR', 'MB'],
       dtype=object),
 20)

In [14]:
df[df['Well_Type'] == 'NL'].shape

(9279, 15)

In [15]:
df['Location_Verified'].unique()

array(['NO        ', 'YES       ', nan], dtype=object)

In [16]:
df[df['Location_Verified'] == 'NO        '].shape

(148448, 15)

In [17]:
df[df['Kickoff'] == df['DrilledDepth']].shape

(45369, 15)

In [18]:
df[df['True_vertical_depth'] != df['Measured_depth']].shape

(4244, 15)

In [19]:
df[(df['Surface_Longitude'] != df['Bottom_hole_longitude']) & (df['Surface_latitude'] != df['Bottom_hole_latitude'])].shape

(6929, 15)

For your 3D kriging model, here’s how you can determine your 
𝑥
x, 
𝑦
y, and 
𝑧
z coordinates as well as your target variable:

Coordinates for 3D Kriging:
𝑥
x:

Surface Longitude (or Bottom-Hole Longitude, depending on your focus)
These represent the horizontal position on the map.
𝑦
y:

Surface Latitude (or Bottom-Hole Latitude, depending on your focus)
These represent the vertical position on the map.
𝑧
z:

True Vertical Depth
This represents the depth of the well, which is crucial for understanding the 3D spatial positioning of your wells.
Target Variable:
GasProd: Since you decided to model gas production, this should be your target variable, i.e., the value you want to predict for optimal drilling locations.
Feature Engineering Suggestions (Expanded):
Lateral Displacement:

Calculation: Use the difference between Surface Longitude/Latitude and Bottom-Hole Longitude/Latitude to determine horizontal displacement.
Purpose: This feature will help you understand how far the well deviates horizontally from its surface entry point to the bottom hole.
Deviation Indicator:

Calculation: Compute the difference between Measured Depth and True Vertical Depth.
Purpose: This will capture wells that are not drilled vertically (deviated or horizontal wells), which could have different production characteristics.
Depth Differences:

Calculation: Determine the difference between Kickoff Depth and other depth features like True Vertical Depth and Measured Depth.
Purpose: This helps in understanding how much of the well was drilled before deviation began, and it can indicate potential productivity zones.
By combining these spatial coordinates and features with your target variable, you should be able to build a robust 3D kriging model that predicts optimal locations for drilling based on the geological and production data you have.

## Script

In [20]:
try:
    print('Script executed successfully')
except:
    print('FAILED')

Script executed successfully